<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
        <hr>
        <div class="card mt-5">
            <div class="card-header">
                Criação de Usuário
            </div>
            <div class="card-body">
              <form action="/users/create" method="POST">
                    <input type="email" name="email"  class="form-control" placeholder="email@exemplo.com"><br>
                    <input name="password" class="form-control" type="password"  placeholder="******">
                    <button class="btn btn-success mt-2 btn-block">Criar</button>
              </form>
            </div>
        </div>
</div>

<%- include('../../partials/footer.ejs') %>